keras
git+https://www.github.com/keras-team/keras-contrib.git
matplotlib
numpy
scipy
pillow
#urllib
#skimage
scikit-image
#gzip
#pickle
networkx>=2.6 # not directly required, pinned by Snyk to avoid a vulnerability
